footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgb(36, 36, 36);
}
.icons {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i{
    font-size: 1.5rem;
    color: whitesmoke;
}